<div class="row row-host ml-0 mr-0">
  <div class="col search-input p-0">
    <input
      type="text"
      (input)="onInput($event.target.value)"
      placeholder="Puesto, empresa o palabra clave"/>
  </div>
  <div class="col-auto btn-buscar pt-1 pb-1 pl-2 pr-2">
    <div class="row">
      <div class="col-auto">
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAACVUlEQVRYhcWXz0tUURTHPzNaYmGlpWBjlkSFuXMVtglqG/0D4aJNC9tEtUmhIBfVIghqUbStpYuiwghaJUQQYUo/IEJDi7Qoy0DMPi3mSk9pfryZl3M28xjOOd/PPe/ee86DClsqboBaBzQCX4BvqVTKxKmWCdarPeo99btL7af6SD2hNpeSP2cF1BrgFHAy/HUXeACMA5+BDUAG2A8cBOqAq8C5VCo1UwpMVLxFfRJW3BfKns+/Rj2mflJfqe3liGfU9+qouitm7GZ1SP2qdpQiXqs+C6toiJ3gb44hdUxtihvcq86q20sRj+RpVD+q1+MEbVJ/qGfLEY/kO6IuFL0f1KPqnLo+IYAqdULtLzZgUL2ThHgk5xV1NJ9POvLcDjxNEiDk26mmczmkAYJDMzCZMMAEUA3kPA2LZAK/WVqRJKwq/C7kBQgNZZLs1ZqkZYB5YDovQLBhoCthgC7gRVEdU+1Wf6mNSSirq9UptbfYgHXqtHopIYDj4V7ZFieoR51XO8sUbwsN6WLcwGr1oTqptpYoXq++VIcLtfFcCTaoIwFib8zY3errsPotscWXQdwOm/Ka2lLAf6N6IYxoi9anFpw5841kaaAbOAO0Ao+BQWAMmAIagBbgALAPmAX6gRFgAFgLnAdOlzW4huN0SL2hvlFnwgrn1HfqLfWwWhuJ2RNeg+rlfL2gVKiaQuVVO8OxNsBX5fP/L6Z2qB8CxE11VSUgdqjjAWLA7Li/4hBb1bcB4n50v6wkRCZcUJr9mqpIJZrU52aH1bYVBwgQayom/i/7AwzOTVqBp4FwAAAAAElFTkSuQmCC"/>
      </div>
      <div class="col align-self-center pl-0">BUSCAR</div>
    </div>
  </div>
</div>
