<footer class="container-fluid">
  <div class="row p-0">
    <div class="col hr p-0">
      <hr/>
    </div>
  </div>
  <div class="container p-0">
    <div class="row justify-content-between">
      <div class="col-auto">
        <!-- <img class="logo-mango" src="./assets/img/logo-blanco.png"/> -->
      </div>
      <div class="col-auto">
        <!-- <p class="mb-0 w-100 text-right">Av. Encalada 1010, Surco, Lima - Per&uacute;  Telf: (511) 714-1177</p>
        <p class="mb-0">&copy; Copyright 2012 Mango Internacional - Todos los derechos reservados</p> -->
      </div>
    </div>
  </div>
</footer>