@charset "UTF-8";
@import "./../../../../assets/styles/variables";

label.w-100 {
  span.w-100 {
    font-family: $open-sans-bold;
    color: $mango-text-dark;
    font-size: $small-font-size
  }
}

.invalid-feedback { display: block }

img {
  height: 85px;
  width: auto;
}

.nombre-archivo.con-error {
  font-family: $open-sans-light;
  color: red;
}