@charset "UTF-8";
@import "./../../../../assets/styles/variables";

.oferta {
  cursor: pointer;
  background-color: white;
  box-shadow: -2px 2px 2px 2px rgba(0,0,0,.15) inset;
  border-radius: 15px;
}

.oferta {
  .resumen {
    color: $mango-text-dark
  }
}

.titulo {
  font-family: $open-sans-bold;
  font-size: $bigger-font-size;
  color: $mango-text-dark;
  height: $big-font-size;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
}

.fecha {
  font-family: $open-sans-regular;
  font-size: $smaller-font-size;
  color: $mango-text-dark;
  margin-top: 4px;
  margin-bottom: 60px;
}

.resumen > p {
  font-family: $open-sans-regular;
  font-size: $smaller-font-size;
  color: $mango-text-dark;
  text-indent: 2rem;
  margin-bottom: 60px;
}

.oferta-seleccionada .titulo {
  color: $mango-orange
}

.logo-empresa {
  width: 120px !important;
  height: 120px !important;
}

.equal {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}

.mpr {
  margin-right: 0.125rem;
}

div.row.ofertas {
  height: 65vh;
  overflow-y: scroll;
}

.subtitulo {
  font-family: $open-sans-bold;
  font-size: $normal-font-size;
  color: $mango-text-dark;
}
