<!-- <div class="row">
  <div class="col">
    <input
      type="text"
      class="form-control w-100"
      (input)="busqueda$.next($event.target.value)"
      placeholder="Puesto, empresa o palabra clave"/>
  </div>
  <div class="col-auto">
    <button class="btn btn-primary">Buscar</button>
  </div>
</div> -->

<!-- <div class="row ofertas" > -->

  <!-- <div
    *ngFor="let oferta of ofertas; let i = index"
    class="col-12 col-lg-12 pt-8"
    [ngClass]="{
      'col-xl-4': ofertaSeleccionada === null || ofertaSeleccionada === undefined,
      'equal': ofertas.length > 3
    }">
    <div class="row p-12 mt-12 oferta" [ngClass]="{'mpr': true, 'mpl': i % 2 === 1}">
      <div class="col-auto align-self-center d-none d-xl-flex p-0">
        <img [src]="oferta.ruta ? oferta.ruta : './assets/img/image-placeholder.png'" class="logo-empresa"/>
      </div>
      <div 
        class="col mt-12" 
        [ngClass]="{'oferta-seleccionada': oferta.idOferta === ofertaSeleccionada}"
        (click)="onOfertaSelected(oferta)">
        <div class="row">
          <div class="col-12">
            <p class="p-8 m-12 titulo">{{ oferta.posicion }}</p>
          </div>
          <div class="col-12 fecha">
            
          </div>
        </div>

        <div class="row">
          <div class="resumen">
            <p>{{ oferta.resumen }}...</p>
          </div>
        </div>
        
      </div>
    </div>
  </div> -->

  <div class="row">
  <div class="col">
    <input
      type="text"
      class="form-control w-100"
      (input)="busqueda$.next($event.target.value)"
      placeholder="Puesto, empresa o palabra clave"/>
  </div>
  <div class="col-auto">
    <button class="btn btn-primary">Buscar</button>
    <!-- <button class="btn btn-info">Buscar</button> -->

  </div>
</div>

  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Posición</th> 
        <th scope="col">Resumen</th>
        <th scope="col">Salario</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let oferta of ofertas; let i = index">
        <td><a class="p-8 m-12 subtitulo" (click)="onOfertaSelected(oferta)"><u>{{ primeraPalabra(oferta.posicion) }}</u></a></td>
        <td>{{ oferta.resumen }}</td>
        <td>{{ oferta.salario }}</td>
      </tr>
    </tbody>
  </table>







  <!-- <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
       
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Posición </th>
            <td mat-cell *matCellDef="let element"> <a class="p-8 m-12 subtitulo" (click)="onOfertaSelected(oferta)"><u>{{ primeraPalabra(oferta.posicion) }}</u></a> </td>
          </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Resumen </th>
          <td mat-cell *matCellDef="let element"> {{ oferta.resumen }} </td>
        </ng-container>
    
        <ng-container matColumnDef="weight">
          <th mat-header-cell *matHeaderCellDef> Salario </th>
          <td mat-cell *matCellDef="let element"> {{ oferta.salario }} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div> -->

    
<!-- </div> -->

