<simple-notifications></simple-notifications>
<app-header [simpleMode]="true"></app-header>
<div class="empty-div"></div>
<app-footer></app-footer>
<div id="on-top">
  <div class="row h-100 justify-content-center">
    <div class="col-auto align-self-center">
      <div class="row justify-content-center">
        <div class="col-auto align-self-center ml-5">
          <img src="./assets/img/hombre.png" (click)="registrarPostulante()"/>
        </div>
        <div class="col-auto align-self-center">
          <img src="./assets/img/mujer.png" (click)="registrarOfertante()"/>
        </div>
      </div>
      <div class="row justify-content-center">
        <!-- <div class="col-auto container-iniciar-sesion pt-3" (click)="iniciarSesion()">Iniciar Sesion</div> -->
      </div>
    </div>
  </div>
</div>
