@charset "UTF-8";

$open-sans-bold: 'Open Sans Bold', arial, sans-serif;
$open-sans-regular: 'Open Sans Regular', arial, sans-serif;
$open-sans-light: 'Open Sans Light', arial, sans-serif;

$agency-fb-regular: 'Agency FB Regular', arial, sans-serif;

$mango-blue: rgb(28, 145, 199);
$mango-orange: #FF8242;
$mango-yellow: #FFCC22;
$mango-green: #43ff82;
$mango-background-light: #f6fff6;
$mango-text-light: #929AA2;
$mango-text-dark: #3A5154;
$mango-text-darker: #1D2625;
$mango-text-white: #f6fff6;

$biggest-font-size: 1.75rem;
$bigger-font-size: 1.5rem;
$big-font-size: 1.25rem;
$normal-font-size: 1rem;
$small-font-size: 0.9rem;
$smaller-font-size: 0.8rem;
$smallest-font-size: 0.7rem;

